*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_div{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(red, yellow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 50%;
min-height: 70vh;
  background-color: #dfd5e6;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 20px 0;
}

h1{
  color: rgb(22, 8, 8);
  background: transparent;
  background-color: violet;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid rgb(32, 17, 114);
  outline: none;

  
  
}

#cut{
  display:flex;
  margin-right: 20px;
  justify-content: right;
  text-align: center;
  align-items: center;
  width: 20px;
  float: left;
  margin-left: 30px;
  
}

button{
  min-height: 30px;
  width: 110px;
 
  border-color: transparent;
  background-color: rgb(236, 44, 18);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
 
  transition: 0.3s ease-in-out;}

button:hover{
  box-shadow: inset 60px 0 0 0 yellow;
 
}
ol{
  margin-top: 20px;
}
 li{
  padding-left: 5px;
  text-align: left;
  font-size: 20px;
  ;
  font-weight: 500;
  min-height: 30px;
  display: flex;
 justify-content:left;

  color: violet;
  text-transform: capitalize;
  

 
  
  width: 50%;
  
}
.todo_style{
 
  
  
  margin-right: 50px;
}



.todo_style .fa-trash{
 
  height: 20px;
  display: flex;justify-content: left;
  float: right;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  
  
 
  
  /* margin: 0 15px 0 35px; */
  
  color: rgb(3, 17, 29);
  box-shadow:5px 5px 25px -5px rgba(0, 0, 0, 0.3) ;
}
.todo_style .fa-trash:hover{
  color: crimson;
}
.todo_style .fa-times:hover .list_style{
  color: crimson;
}
@media(max-width:700px){
  .center_div{
    width: 55%;
    
  }

  .todo_style .fa-times{
   
    display: flex;justify-content: center;
    align-items: center;
 
    margin: 0 15px 0 35px;
    
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    
  }

}